.ctn-header{
    background-color: black !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* avatar */

.img-avatar{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    object-fit:cover ;
    cursor: pointer; 
}

.img-avatar-item{
   margin-right: 20px;
   border-radius: 100px;
   width: 50px;
   height: 50px;
   object-fit:cover ;
}

.font-item{
    font-size: 16px;
    cursor: pointer; 
}

.font-item:active{
    background-color: rgb(203, 200, 200) !important;
}

#dropdown-custom-components{
    width: 51px;
}

/* end avatar */

/* search */

.inp-search{
    border-radius: 20px;
    border: 0px;
}

.inp-search:focus {
    box-shadow: none !important;
    border: 0px !important ;
}

.icon-search{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    border: 0px;
    
}
/* end search */



/* noti */

.btn-noti{
    background-color: black;
    color: #ff0066;
    border: 0px;
    padding: 0px;
}

.btn-noti:hover{
    background-color: black;
    color: #ff0066;
}
.btn-noti:active{
    background-color: black !important;
    color: #ff0066 !important;
}

.icon-bell{
    font-size: 30px;
}

.badge-custom{
    position: relative !important;
    top: -20px !important;
    

}

.btn-noti{
    width: 70px;
}


/* end noti */
.search-load{
    min-height:50px;
    min-width: 290px;
  }

@media (max-width: 550px) {
    .nav-profile{
        padding-right: 0px !important;
    }
    
   

}



.bg-noti{
    background-color: #ff0066 !important;
}

.dropdown-toggle::after  {
    display:  none;
}
.bg-body-tertiary.ctn-header.navbar.navbar-expand.navbar-light{
    height: 60px;
}

.font-item.active{ 
    background-color: white !important;
    color: black !important;
}

.hover-text-decoration-underline{
    text-decoration: none;
}
.hover-text-decoration-underline:hover{
    text-decoration: underline;
}
.cursor-pointer{
    cursor: pointer;
}