* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.container-home {
  background-color: #f2f4f7;
  position: relative;
  height: calc(100vh - 60px);
}

.wrapper-swiper {
  padding-right: 41px;
}


.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px;
  border-radius: 20px;
  box-shadow: 0 2rem 3rem rgba(from var(--hover-color) r g b/.2),
    0 0 10px rgba(from var(--hover-color) r g b/.4);
}

.swiper-slide .post-img img {
  display: block;
  height: auto;
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}
.post-info {
  min-height: 60px;
}
.post-info .img-avt img {
  width: 50px;
  height: 50px;
}
.post-caption {
  user-select: text;
}
.post-img{
  min-height: 30px;
}
.container-navigation {
  padding-bottom: 50px;
  margin-right: 5px;
  height:100%
}

.modal-custom-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-custom-content {
  height: auto;
  width: auto;
}

.zoomed-image {
  max-width: 100vw;
  height: auto;
  max-height: 100vh;
  width: auto;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.button-show-friend{
  top:calc(100vh - 88px)
}

.height-list-friend{
  height: calc(100vh - 100px);
  overflow: auto;
}
.height-list-friend::-webkit-scrollbar-thumb {
  background: #9a9a9a45;
  border-radius: 10px;
}
.height-list-friend::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.badge-home{
  top:-5px;
  border-radius: 100%;
}

/* trong mobile */
@media (max-width: 768px) {
  .wrapper-swiper {
    padding-right: 0;
  }

  /* .container-home{
    height: calc(100vh - 110px);
  } */
  .position-sm-fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 300px;
    background: #ffffff;
  }
  .h-sm-100{
    height: 100% !important;
  }
  .container-navigation {
    height: auto;
  }
  body{
    min-width: 300px;
  }
}

/* amination */
@keyframes appear {
  from {
      opacity: 0;
      scale:0.5;
  }
  to 
  {
      opacity: 1;
      scale: 1;
  }
}

.ImgBlock {
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0;
}

/* amination */
@keyframes appear {
  from {
      opacity: 0;
      scale:0.5;
  }
  to 
  {
      opacity: 1;
      scale: 1;
  }
}

.ImgBlock {
  animation: appear ease;
  animation-timeline: view();
  animation-range: entry 0;
}

.p-selector {
  cursor: pointer; 
}

.rounded-circle{
  object-fit: cover;
}