.div-btn-take-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
}

.btn-take-photo{
    background-color:  black;
    border: 0px;
    color: white;
    border-radius: 100px;
    padding: 20px;
}

.btn-take-photo:hover {
    background-color:  black;
}
.btn-take-photo:active {
    background-color:  black !important;
}
.btn-take-photo:focus-visible {
    background-color:  black;
    border: 0px;
    color: white;
}



.video{
    width: 100%;
    height: 65vh;
    background-color: #f2f4f7;
    border-radius: 20px;
    padding: 10px;
}